
/*_____________________general________________________*/

@font-face {
    font-family: "Inter";
    src: url("material/Inter.ttf");
}

body {
    font-family: Inter;
    padding-top: 70px;
}

main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

p {
    color: #666666;
}

.button  {
    background-color: black;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 1px black;
    padding: 0;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.button:hover {
    background-color: rgb(44, 43, 43);
}

.barky {
    height: 25px;
    padding: 10px;
}

a {
    padding: 10px;
    padding-top: 14px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.lines {
    border-bottom: 1px solid #e5e5e5;
}


/*______________________header_________________________*/

header {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5 ;
    padding-bottom: 5px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

#nav_left {
    display: flex;
    height: 32px;
    align-items: center;
    
}

#nav_right {
    display: flex;
    height: 32px;
    align-items: center;
}

nav a {
    padding: 8px;
}

#small_border {
    border-right: 2px solid #e5e5e5;
    padding-left: 12px;
    height: 32px;
}

#log_in {
    margin-left: 12px;
    margin-right: 10px;
}

nav a:hover{
    background-color: #dbdbdb;
    border-radius: 4px;
}


/*______________________________main________________________________*/

/*_____box_1_____*/

#box_1 {
    display: flex;
    align-items: center;
    padding-bottom: 70px;
}

#box_1 h1 {
    font-size: 53px;
    height: 105px;
}

#box_1 p {
    font-size: 19px;
    padding-bottom: 10px;
}

#teams_hero {
    height: 300px;
}

/*______box_2______*/

.small_brands {
    display: flex;
    height: 25px;
    padding-top: 30px;
    justify-content: center;
    gap: 30px;
}

#small_brands_2 {
    padding-bottom: 30px;
    gap: 35px;
}

/*______box_3______*/

.box_3 {
    display: flex;
    flex-direction: column;
    
}

.above_big_pictures {
    width: 470px;
    padding-bottom: 20px;
}

.above_big_pictures h2 {
    padding-top: 50px;
    font-size: 36px;
}

.above_big_pictures p {
    font-size: 15.5px;
    width: 469px;
}

.big_pictures {
    width: 1000px;
    box-shadow: 0px 0px 30px #e5e5e5;
}

.quote {
    color: #999;
    font-size: 24.5px;
    text-align: center;
}

.box_3_cred {
    display: flex;
}


.faces_and_names {
    display: flex;
    margin: auto;
    align-items: center;

}

.faces { 
    margin-right: 10px;
    width: 45px;
    
}

.names {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

.names h6 {
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 11px;
}

.names p {
    font-size: 13px;
    margin-top: 3px;
}


/*______box_4______*/

#box_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_above_list {
    text-align: center;
    width: 550px;
}

.text_above_list h2 {
    font-size: 34px;
    padding-top: 70px;
}

.text_above_list p {
    font-size: 15px;
    padding-bottom: 10px;
}

#list_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 30px;
}

#top_row {
    display: flex;
    justify-content: space-between;
    border: none;
    margin: auto;
}

.features {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #e5e5e5;
    width: 550px;
    margin: auto;
}

.check {
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#line_between {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 70px;
}

/*______box_5______*/

#box_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emojis {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#emojis p {
    font-size: 15.65px;
}

#engineering {
    border-right: 1px solid #e5e5e5;
    padding-right: 30px;
}

#product {
    padding-left: 35px;
    padding-right: 30px;
    border-right: 1px solid #e5e5e5;
}

#design {
    padding-left: 30px;
}

/*______box_6______*/

#rating {

}

#text_in_rating {

}

#rating_picture {
    height: 200px;
}

#link_in_text {
    text-decoration: underline;
}

#badges {
    display: flex;
    
}

#procent {
    display: flex;
    justify-content: space-evenly;
}

.numbers {

}

/*______box_7______*/

#box_7 {
    padding-bottom: 90px;
}

#line_between2 {
    width: 100%;
    border: 1px solid #e5e5e5;
}


/*______________________________main________________________________*/

footer {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#barky_column {
    display: flex;
    flex-direction: column;
}


footer .barky {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#share {
    display: flex;
    height: 20px;
    gap: 3px;
}

#links {
    display: flex;
    
}

.bold_p_footer {
    font-weight: bold;
}


.many_links {
    
    

}

footer a:hover {
    text-decoration: underline;
}