@font-face {
    font-family: "Inter";
    src: url("material/Inter.ttf");
}

body {
    font-family: Inter;
}

main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}

a {
    padding: 10px;
    padding-top: 14px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#barky {
   height: 25px;
   padding: 10px;
}

#nav_left {
    display: flex;
}

#request {
    border-right: 1px solid #e5e5e5;

}

#log_in {
    padding-left: 25px;
}

a.button  {
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
}

#box_1 {
    display: flex;
    align-items: center;
    font-size: larger;
    padding-bottom: 70px;
}

#teams_hero {
    height: 300px;
}

.lines {
    border-bottom: 1px solid #e5e5e5;
}

.small_brands {
    display: flex;
    height: 25px;
    padding-top: 30px;
    justify-content: center;
    gap: 30px;
}

#small_brands_2 {
    padding-bottom: 30px;
}

.box_3 {
    display: flex;
    flex-direction: column;
}



.big_pictures {
    width: 1000px;
    box-shadow: 0px 0px 30px #e5e5e5;
}

.box_3_cred {
    display: flex;
}


.faces_and_names {
    display: flex;
    margin: auto;
}

.faces { /*SÄTT CLASS PÅ BILDEN INTE DIVEN*/
    height: 60px;
}

.above_big_pictures {

}



#box_4 {
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_above_list {
    
}

#list_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    background-color: #dbdbdb;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.features {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.check {
    height: 30px;
}

#line_between {
    border-bottom: 1px solid #e5e5e5;
}

#box_5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#emojis {
    display: flex;
    flex-direction: row;
}

#engineering {
    border-right: 1px solid #e5e5e5;
    padding-right: 30px;
}

#product {
    padding-left: 35px;
    padding-right: 30px;
    border-right: 1px solid #e5e5e5;
}

#design {
    padding-left: 30px;
}